MONGO_HOST=class-mongodb.cims.nyu.edu
MONGO_USER=kg2412
MONGO_PASSWORD=YED9htcU
MONGO_DBNAME=kg2412
FLASK_APP=app.py # the main script file
FLASK_ENV=development # either development or production
GITHUB_SECRET=foo # pick any secret key word you like for GitHub webooks
GITHUB_REPO=https://github.com/demig5/webapp.git  # the GitHub repository
# https://github.com/nyu-database-design/flask-mongodb-web-app.git
