<!DOCTYPE html>
<html>
  <head>
    <title>NYC Restaurant Recommendations</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>NYC Restaurant Recommendation</h1>
        <p>
          <a href="{{ url_for('home')}}">Home</a> |
          <a href="{{ url_for('read')}}">All posts</a> |
          <a href="{{ url_for('create')}}">Create a post</a>
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          For more information about the restaurants, please visit link 
          <a href="https://www.yelp.com/"
            >Yelp</a
          >.
        </p>
      </footer>
    </div>
  </body>
</html>
