{% extends 'base.html' %} {% block container %}
<h2>Add A Restaurant</h2>
<p>Create your own answer!</p>
<form method="POST" action="{{ url_for('create_post') }}">
  <p>Your name: <input type="text" id="fname" name="fname" /><br /></p>
  <p>
    Restaurant name:
    <textarea type="text" id="frestaurant" name="frestaurant"></textarea>
  </p>
  <p>
    Review:
    <textarea type="text" id="freview" name="freview"></textarea>
  </p>
  <p>
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Post" />
  </p>
</form>
{% endblock %}
