{% extends 'base.html' %} {% block container %}
<h2>Update</h2>
<p>Edit a record.</p>
<form method="POST" action="{{ url_for('edit_post', mongoid=mongoid) }}">
  <p>
    Your name:
    <input type="text" id="fname" name="fname" value="{{doc.name}}" /><br />
  </p>
  <p>
    Restaurant name:
    <textarea id="frestaurant" name="frestaurant">{{doc.restaurant}}</textarea>
  </p>
  <p>
    Review:
    <textarea id="freview" name="freview">{{doc.review}}</textarea>
  </p>
  <p>
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Save" />
  </p>
</form>
{% endblock %}
